<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{userStoryDisplay.title}} by {{userStoryDisplay.author}}
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>Change Title:</label>
        <input [(ngModel)]="userStoryDisplay.title">
      </div>
      <div class="form-group">
        <label>Change Author:</label>
        <input [(ngModel)]="userStoryDisplay.author">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <h4>Role: {{userStoryDisplay.arc[0].role}} <span><em> - First</em></span></h4>

            <p><em>Primary Example:</em>
              <input [(ngModel)]="userStoryDisplay.arc[0].primary"></p>
            <p><em>Secondary Example:</em> <input [(ngModel)]="userStoryDisplay.arc[0].secondary"></p>
          </div>
          <div class="form-group">
            <h4>Role: {{userStoryDisplay.arc[2].role}} <span><em> - Third</em></span></h4>

            <p><em>Primary Example:</em>
              <input [(ngModel)]="userStoryDisplay.arc[2].primary"></p>
            <p><em>Secondary Example:</em> <input [(ngModel)]="userStoryDisplay.arc[2].secondary"></p>
          </div>
          <div class="form-group">
            <h4>Role: {{userStoryDisplay.arc[4].role}} <span><em> - Fifth</em></span></h4>

            <p><em>Primary Example:</em>
              <input [(ngModel)]="userStoryDisplay.arc[4].primary"></p>
            <p><em>Secondary Example:</em> <input [(ngModel)]="userStoryDisplay.arc[4].secondary"></p>
          </div>
          <div class="form-group">
            <h4>Role: {{userStoryDisplay.arc[6].role}} <span><em> - Seventh</em></span></h4>

            <p><em>Primary Example:</em>
              <input [(ngModel)]="userStoryDisplay.arc[6].primary"></p>
            <p><em>Secondary Example:</em> <input [(ngModel)]="userStoryDisplay.arc[6].secondary"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <h4>Role: {{userStoryDisplay.arc[1].role}} <span><em> - Second</em></span></h4>

            <p><em>Primary Example:</em>
              <input [(ngModel)]="userStoryDisplay.arc[1].primary"></p>
            <p><em>Secondary Example:</em> <input [(ngModel)]="userStoryDisplay.arc[1].secondary"></p>
          </div>
          <div class="form-group">
            <h4>Role: {{userStoryDisplay.arc[3].role}} <span><em> - Fourth</em></span></h4>

            <p><em>Primary Example:</em>
              <input [(ngModel)]="userStoryDisplay.arc[3].primary"></p>
            <p><em>Secondary Example:</em> <input [(ngModel)]="userStoryDisplay.arc[3].secondary"></p>
          </div>
          <div class="form-group">
            <h4>Role: {{userStoryDisplay.arc[5].role}} <span><em> - Sixth</em></span></h4>

            <p><em>Primary Example:</em>
              <input [(ngModel)]="userStoryDisplay.arc[5].primary"></p>
            <p><em>Secondary Example:</em> <input [(ngModel)]="userStoryDisplay.arc[5].secondary"></p>
          </div>
          <div class="form-group">
            <h4>Role: {{userStoryDisplay.arc[7].role}} <span><em> - Eighth</em></span></h4>

            <p><em>Primary Example:</em>
              <input [(ngModel)]="userStoryDisplay.arc[7].primary"></p>
            <p><em>Secondary Example:</em> <input [(ngModel)]="userStoryDisplay.arc[7].secondary"></p>
          </div>
        </div>
      </div>



      <button (click)="updateStory(userStoryDisplay)">Update Story</button>
    </div>
  </div>
</div>
