<div class="well">
  <h3>{{outlineToDisplay.title}} by {{outlineToDisplay.author}}</h3>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[0].role}}</em>
    </div>
    <div class="panel-body">
      <div class="role-box">
        <h5>Logic:</h5>
        <p class="role-box-content">
          {{outlineToDisplay.arc[0].logic}}
        </p>
      </div>

      <hr>
      <p>
        <strong>Primary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[0].primary}}</span>
      </p>
      <p>
        <strong>Secondary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[0].secondary}}</span>
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[1].role}}</em>
    </div>
    <div class="panel-body">
      <div class="role-box">
        <h5>Logic:</h5>
        <p class="role-box-content">
          {{outlineToDisplay.arc[1].logic}}
        </p>
      </div>

      <hr>
      <p>
        <strong>Primary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[1].primary}}</span>
      </p>
      <p>
        <strong>Secondary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[1].secondary}}</span>
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[2].role}}</em>
    </div>
    <div class="panel-body">
      <div class="role-box">
        <h5>Logic:</h5>
        <p class="role-box-content">
          {{outlineToDisplay.arc[2].logic}}
        </p>
      </div>

      <hr>
      <p>
        <strong>Primary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[2].primary}}</span>
      </p>
      <p>
        <strong>Secondary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[2].secondary}}</span>
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[3].role}}</em>
    </div>
    <div class="panel-body">
      <div class="role-box">
        <h5>Logic:</h5>
        <p class="role-box-content">
          {{outlineToDisplay.arc[3].logic}}
        </p>
      </div>

      <hr>
      <p>
        <strong>Primary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[3].primary}}</span>
      </p>
      <p>
        <strong>Secondary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[3].secondary}}</span>
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[4].role}}</em>
    </div>
    <div class="panel-body">
      <div class="role-box">
        <h5>Logic:</h5>
        <p class="role-box-content">
          {{outlineToDisplay.arc[4].logic}}
        </p>
      </div>

      <hr>
      <p>
        <strong>Primary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[4].primary}}</span>
      </p>
      <p>
        <strong>Secondary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[4].secondary}}</span>
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[5].role}}</em>
    </div>
    <div class="panel-body">
      <div class="role-box">
        <h5>Logic:</h5>
        <p class="role-box-content">
          {{outlineToDisplay.arc[5].logic}}
        </p>
      </div>

      <hr>
      <p>
        <strong>Primary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[5].primary}}</span>
      </p>
      <p>
        <strong>Secondary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[5].secondary}}</span>
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[6].role}}</em>
    </div>
    <div class="panel-body">
      <div class="role-box">
        <h5>Logic:</h5>
        <p class="role-box-content">
          {{outlineToDisplay.arc[6].logic}}
        </p>
      </div>

      <hr>
      <p>
        <strong>Primary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[6].primary}}</span>
      </p>
      <p>
        <strong>Secondary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[6].secondary}}</span>
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[7].role}}</em>
    </div>
    <div class="panel-body">
      <div class="role-box">
        <h5>Logic:</h5>
        <p class="role-box-content">
          {{outlineToDisplay.arc[7].logic}}
        </p>
      </div>

      <hr>
      <p>
        <strong>Primary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[7].primary}}</span>
      </p>
      <p>
        <strong>Secondary Example:</strong> <span class="user-text">{{outlineToDisplay.arc[7].secondary}}</span>
      </p>
    </div>
  </div>
</div>
