<div class="well">
  <h3>{{outlineToDisplay.title}} by {{outlineToDisplay.author}}</h3>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[0].role}}</em>
    </div>
    <div class="panel-body">
      <h5>Logic:</h5>
      <p>
        {{outlineToDisplay.arc[0].logic}}
      </p>
      <hr>
      <p>
        <strong>Primary Example:</strong> {{outlineToDisplay.arc[0].primary}}
      </p>
      <p>
        <strong>Secondary Example:</strong> {{outlineToDisplay.arc[0].secondary}}
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[1].role}}</em>
    </div>
    <div class="panel-body">
      <h5>Logic:</h5>
      <p>
        {{outlineToDisplay.arc[1].logic}}
      </p>
      <hr>
      <p>
        <strong>Primary Example:</strong> {{outlineToDisplay.arc[1].primary}}
      </p>
      <p>
        <strong>Secondary Example:</strong> {{outlineToDisplay.arc[1].secondary}}
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[2].role}}</em>
    </div>
    <div class="panel-body">
      <h5>Logic:</h5>
      <p>
        {{outlineToDisplay.arc[2].logic}}
      </p>
      <hr>
      <p>
        <strong>Primary Example:</strong> {{outlineToDisplay.arc[2].primary}}
      </p>
      <p>
        <strong>Secondary Example:</strong> {{outlineToDisplay.arc[2].secondary}}
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[3].role}}</em>
    </div>
    <div class="panel-body">
      <h5>Logic:</h5>
      <p>
        {{outlineToDisplay.arc[3].logic}}
      </p>
      <hr>
      <p>
        <strong>Primary Example:</strong> {{outlineToDisplay.arc[3].primary}}
      </p>
      <p>
        <strong>Secondary Example:</strong> {{outlineToDisplay.arc[3].secondary}}
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[4].role}}</em>
    </div>
    <div class="panel-body">
      <h5>Logic:</h5>
      <p>
        {{outlineToDisplay.arc[4].logic}}
      </p>
      <hr>
      <p>
        <strong>Primary Example:</strong> {{outlineToDisplay.arc[4].primary}}
      </p>
      <p>
        <strong>Secondary Example:</strong> {{outlineToDisplay.arc[4].secondary}}
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[5].role}}</em>
    </div>
    <div class="panel-body">
      <h5>Logic:</h5>
      <p>
        {{outlineToDisplay.arc[5].logic}}
      </p>
      <hr>
      <p>
        <strong>Primary Example:</strong> {{outlineToDisplay.arc[5].primary}}
      </p>
      <p>
        <strong>Secondary Example:</strong> {{outlineToDisplay.arc[5].secondary}}
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[6].role}}</em>
    </div>
    <div class="panel-body">
      <h5>Logic:</h5>
      <p>
        {{outlineToDisplay.arc[6].logic}}
      </p>
      <hr>
      <p>
        <strong>Primary Example:</strong> {{outlineToDisplay.arc[6].primary}}
      </p>
      <p>
        <strong>Secondary Example:</strong> {{outlineToDisplay.arc[6].secondary}}
      </p>
    </div>
  </div>
  <div class="role-box panel panel-default">
    <div class="panel-heading">
      <strong>Role:</strong>
      <br>
      <em>{{outlineToDisplay.arc[7].role}}</em>
    </div>
    <div class="panel-body">
      <h5>Logic:</h5>
      <p>
        {{outlineToDisplay.arc[7].logic}}
      </p>
      <hr>
      <p>
        <strong>Primary Example:</strong> {{outlineToDisplay.arc[7].primary}}
      </p>
      <p>
        <strong>Secondary Example:</strong> {{outlineToDisplay.arc[7].secondary}}
      </p>
    </div>
  </div>
</div>
