.main-banner {
  width: 65%;
  float: left;
  border: 1px solid blue;
  font-family: 'Play', monospace;
  text-align: center;
}

.right-highlight {
  width: 33%;
  float: right;
  border: 1px solid black;
}

.clr {
  clear: both;
}
