<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">ARC</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="arc-list">Existing Arcs</a></li>
      <li><a routerLink="new-arc">Create a new Arc</a></li>
      <li><a routerLink="about">About</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div class="main-banner">
        <h1>{{title}}</h1>
        <p>{{subtitle}}</p>
      </div>
      <div class="right-highlight">
        <ul>
          <li>Cool Stuff Here Soon</li>
          <li>Cool Stuff Here Soon</li>
          <li>Cool Stuff Here Soon</li>
          <li>Cool Stuff Here Soon</li>
        </ul>
      </div>
      <div class="clr">

      </div>
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-1">

    </div>
  </div>

</div>
