<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{storyToDisplay.title}} by {{storyToDisplay.author}}
    </div>
    <div class="panel-body">
      <h4>Role: {{storyToDisplay.arc[0].role}}</h4>
      <p><em>Primary Example:</em> {{storyToDisplay.arc[0].primary}}</p>
      <p><em>Secondary Example:</em> {{storyToDisplay.arc[0].secondary}}</p>
    </div>
    <div class="panel-body">
      <h4>Role: {{storyToDisplay.arc[2].role}}</h4>
      <p><em>Primary Example:</em> {{storyToDisplay.arc[2].primary}}</p>
      <p><em>Secondary Example:</em> {{storyToDisplay.arc[2].secondary}}</p>
    </div>
    <div class="panel-body">
      <h4>Role: {{storyToDisplay.arc[3].role}}</h4>
      <p><em>Primary Example:</em> {{storyToDisplay.arc[3].primary}}</p>
      <p><em>Secondary Example:</em> {{storyToDisplay.arc[3].secondary}}</p>
    </div>
    <div class="panel-body">
      <h4>Role: {{storyToDisplay.arc[4].role}}</h4>
      <p><em>Primary Example:</em> {{storyToDisplay.arc[4].primary}}</p>
      <p><em>Secondary Example:</em> {{storyToDisplay.arc[4].secondary}}</p>
    </div>
    <div class="panel-body">
      <h4>Role: {{storyToDisplay.arc[5].role}}</h4>
      <p><em>Primary Example:</em> {{storyToDisplay.arc[5].primary}}</p>
      <p><em>Secondary Example:</em> {{storyToDisplay.arc[5].secondary}}</p>
    </div>
    <div class="panel-body">
      <h4>Role: {{storyToDisplay.arc[6].role}}</h4>
      <p><em>Primary Example:</em> {{storyToDisplay.arc[6].primary}}</p>
      <p><em>Secondary Example:</em> {{storyToDisplay.arc[6].secondary}}</p>
    </div>
    <div class="panel-body">
      <h4>Role: {{storyToDisplay.arc[7].role}}</h4>
      <p><em>Primary Example:</em> {{storyToDisplay.arc[7].primary}}</p>
      <p><em>Secondary Example:</em> {{storyToDisplay.arc[7].secondary}}</p>
    </div>
  </div>
</div>
