<div class="row">
  <div class="well col-md-12">
    <h3>Welcome to my narrative building app.</h3>
    <p>The power of a new story or an old one well told can not be underestimated. It is how we identify, relate to one another, and find meaning. Putting a new spin on all of our childhood memories is the mainstay of Hollywood now. Too often in the entertainment products we consume the alure is all sizzle and minimal substance. This is especially symptomatic of the gaming industry. The man hours put into the project are usually focused on the crucial goal of a solid minimum viable product and added user functionality, however too often the inner story of why you picked up the game/movie is only addressed in a perfunctory fashion.</p>
    <p>With that being said I created this tool to help an author build their narrative outline. The app is designed to take the classic 8 point story arc and give guidance to the author with examples and simple structure.</p>
  </div>
  <div class="example-panel col-md-12">
    <div *ngFor="let defaultStory of defaultStories | async" (click)="goToStory(defaultStory)" class="black-box panel panel-default">
      <div class="panel-heading">
        {{defaultStory.title}} <br>By <span>{{defaultStory.author}}</span>
      </div>
      <div class="panel-body">

      </div>

    </div>
  </div>
</div>
